{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-container w3-card-2 w3-white w3-round w3-margin">
        <h1>Bienvenu sur Easybac !</h1>

        <p>
            Tu es en galère pour passer ton BAC ? Tu trouves les cours longs et ennuyeux ? Tu as beau travailler, tes efforts ne semblent pas payer ? Tu envies ceux qui arrivent à réussir sans fournir beaucoup d'efforts ?
        </p>

        <h2>Le sais tu ?</h2>
        <ul>
            <li>Dans la majoritée des matières, le simple fait de connaitre et de maitriser les méthodologies fera bondir tes notes en avant !</li>
            <li>Personne ne nait intelligent, sauf en cas de handicap lourd, tout le monde est capable de réussir son bac sans fournir énormement d'efforts.</li>
            <li>Ton cerveau utilise tout tes sens pour travailler, avec le format vidéo tu utilises ta vue et ton ouie en même temps.</li>
        </ul>

        <h2>Alors tu es au bon endroit !</h2>
        <p>
            Sur easybac, tu pourras trouver de nombreuses resources pour t'aider à réussir ton année scolaire !
        </p>
        <ul>
            <li>Des vidéos sur la méthodologie à adopter dans toutes les matières du programme</li>
            <li>Des cours vidéo en math, en physique, en histoire géographie et en philosophie</li>
            <li>Des exercices interactifs commentés en vidéo</li>
            <li>Des fiches de révisions</li>
        </ul>

        <h2>Et tout ça c'est gratuit ?</h2>
        <p>
            La majorité du contenu sera accessible gratuitement, malheureusement il faut bien vivre et maintenir un tel site tout seul représente un travail tytanesque, une partie des ressources seront donc disponibles en contrepartie d'un paiment.
        </p>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
