{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="fos_user_user_show" >
    <h4 class="w3-center" >{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h4>
    <hr/>
    <form class="w3-center" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" />
        </div>

        <div>
            <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
        </div>

        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>

        <div>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </form>
    <hr/>
    <h5 class="w3-center" >Se connecter via les réseaux sociaux</h5>
    <p class="w3-center" >
        <a class="social-icon fa fa-facebook" href="http://localhost/easybac/web/app_dev.php/connect/facebook"></a>
        <a class="social-icon fa fa-twitter" href="http://localhost/easybac/web/app_dev.php/connect/twitter"></a>
        <a class="social-icon fa fa-google" href="http://localhost/easybac/web/app_dev.php/connect/google"></a>
    </p>
</div>
